* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.titulo {
  color: #642a73;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

/*Header*/
header {
  width: 100%;
  height: 600px;
  background: #03001e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdeff9, hsla(316, 95%, 50%, 0.509), hsla(276, 97%, 38%, 0.648), #03001e), url(../img/fondoPeliculas.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdeff9, hsla(316, 95%, 50%, 0.509), hsla(276, 97%, 38%, 0.648), #03001e), url(../img/fondoPeliculas.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;

}


nav { 
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  padding: 50px 50px 0 0;
}


.navbar>a {
  color: #ffffff;
  font-weight: 300;
  text-decoration: none;
  font-size: 16px;
  margin-right: 10px;
}


.navbar>a:hover {
  text-decoration: underline;
}

.buttons>* {
  border: none;
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

header .texto-peliculas-header {
  display: flex;
  height: 400px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;


}

.texto-peliculas-header h1 {
  font-size: 50px;
  text-align: center;
  color: #ffffff;
}

.texto-peliculas-header h2 {
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
}

.film-wave {
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.contenedor-peliculas {
  display: flex;
  margin: 5%;
  justify-content: space-evenly;
}

.imagen-ranking-peliculas {
  display: flex;
  width: 45%;
  height: 45%;
}

.imagen-ranking-peliculas:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease, filter 0.3s ease;
}


.contenido-texto-peliculas {
  display: table-column;
  width: 45%;
  height: 45%;
}

.contenido-texto-peliculas h3 {
  margin-bottom: 0px;
}

.contenido-texto-peliculas h3 span {
  background: #4d0686;
  color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  margin-right: 5px;
}

.contenido-texto-peliculas p {
  padding: 0px 0px 15px 15px;
}

footer {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .5);
  background-color: rgb(108, 108, 233);
  padding-bottom: 30px;
}

.content-footer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  padding-top: 15px;
  text-align: center;
}

footer h2 {
  text-align: center;
}